.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #e7c500;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.content-box h1 {
    font-weight: bold;
    color: #2ef8a0;
    margin-bottom: 10px;
}

.content-box h2 {
    font-weight: bold;
    color: #2ef8a0;
    text-decoration: underline;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: white;
    margin-bottom: 8px;
}

.apartado {
    border-top: 1px solid #e7c500;
    padding: 8px;
    margin-top: 25px;
}

.apartado h3 {
    font-weight: bold;
    color: #f82d97;
    margin-bottom: 13px;
}

.apartado p {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    color: wheat;
    font-size: 15px;/**/
}

@media (max-width: 600px){
    .title-t h1 {
        margin-left: 0;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
}